/* PC用のスタイル */








#nav-pc {
    display: flex;
    justify-content: center;
    font-size: 34px;
    padding: 5px;
    width: 598px;
    height: 69px;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 179px;
    }

.myprofile {
    padding: 10px 20px;
    border: 1px solid #000;
}

.about {
    padding: 5px;
    padding-left: 300px;
}
.work {
    padding: 5px;
    padding-left: 50px;
 }

#camera {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 400px;
    position: absolute;
    top: 109px;
    margin-bottom: 20px;
}


#About-main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 624px;
    height: 230px;
     }

.About {
    font-size: 34px;
    width: 104px;
    height: 46px;
    position: absolute;
    top: 559px;
    left: 428px;
    margin: 0 auto;
    }
    

#kazuki {
    width: 141px;
    height: 142px;
    position: absolute;
    top: 631px;
    left: 171px;
    border-radius: 500px;
    }
.asahina {
    width: 183px;
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.69px;
    color: #000;
    position: absolute;
    top: 627px;
    left: 354px;
    }

.intoroduce {
    width: 405px;
    height: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.52px;
    position: absolute;
    top: 673px;
    left: 354px;

}


#Works-main {
    width: 573px;
    height: 329px;
    position: absolute;
    top: 817px;
    left: 193px;
}

.works {

    width: 104px;
    height: 46px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46.31px;
    position: relative;
    margin: 0 auto;
    
        
}

.Works {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}


.pic-works {
    width: 200px;
    margin: 12px;
}

.sight {
    text-align: center;
    font-size: 20px;
}

footer {
    width: 268px;
    height: 25px;
}

#copyright {
    position: absolute;
    top: 1178px;
    left: 345px;
    margin-top: 100px;
}


